<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>user-agreement-check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,53}</string>
                <key>spriteSourceSize</key>
                <string>{71,53}</string>
                <key>textureRect</key>
                <string>{{261,1},{71,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user-agreement-tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,53}</string>
                <key>spriteSourceSize</key>
                <string>{258,53}</string>
                <key>textureRect</key>
                <string>{{1,1},{258,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>beimi-update.png</string>
            <key>size</key>
            <string>{333,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8af8df56e5556333be9f4e4fbdd42c80:6c4927bca7a64a4229b6249b88639698:4d0972f70316703538f17e5bcdae431c$</string>
            <key>textureFileName</key>
            <string>beimi-update.png</string>
        </dict>
    </dict>
</plist>
